<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Projects</title>
</head>

<body>
    <header>
        <div class="menu-link">
            <a href="/">Home</a>
        </div>
        <div class="menu-link">
            <a href="/resume">Resume</a>
        </div>
        <div class="menu-link">
            <a href="/research">Research Publications</a>
        </div>
    </header>
</body>

#Python class project, HBC machine learning, bookaholics, movies clone, hangman, 