<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Research Publications</title>
</head>

<body>
        <div class="menu-link">
            <a href="/">Home</a>
        </div>
        <div class="menu-link">
            <a href="/resume">Resume</a>
        </div>
        <!--
        <div class="menu-link">
            <a href="/projects">Projects</a>
        </div>
        -->

        <br><br><br><br><br>
        <p><small>
            To access my google scholar link, follow 
            <u><b><a href="https://scholar.google.com/citations?user=YRu31ucAAAAJ&hl=en" >this link</a></b></u>
        </small></p>
        <!--
        <iframe id= "myPDF" src="/static/resume/Kofi Nketia's Revised Resume.pdf" frameborder="0"></iframe>
        -->
        <br><br>
        
        <p><small>
            My first paper can be found by following 
            <u><b><a href="https://www.sciencedirect.com/science/article/pii/S2352492822011709" > this link </a></b></u>
        </small></p>
        <iframe id= "myPDF" src="static/papers/paper 1.pdf" frameborder="0" width="800" height="500"></iframe>
        <br><br><br>

        <p><small>
            The next paper can be found by following 
            <u><b><a href="https://www.sciencedirect.com/science/article/pii/S2352340922008769" > this link </a></b></u>
        </small></p>
        <iframe id= "myPDF" src="static/papers/dataset-optical paper.pdf" frameborder="0" width="800" height="500"></iframe>
        <br><br><br>
</body>
<!--#papers with Dr. Dimakis -->