<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Resume </title>
    <style>
        #myPDF {
            width: 90%;
            height: 300px;
        }
    </style>
</head>
<body>
        <div class="menu-link">
            <a href="/">Home</a>
        </div>
        <!--
        <div class="menu-link">
            <a href="/projects">Projects</a>
        </div>
        -->
        <div class="menu-link">
            <a href="/research">Research Publications</a>
        </div>

    <br><br><br>

    <p><small>
        This is my resume. You can view and download the full document by clickling
        <u><a href="/static/resume/Kofi Nketia's Revised Resume.pdf" >here</a></u>
    </small></p>
    <iframe id= "myPDF" src="/static/resume/Kofi Nketia's Revised Resume.pdf" frameborder="0"></iframe>
    <br><br><br>
    
    <p><small>
        This is my current transcript. You can view and download the full document by clickling
        <u><a href="/static/resume/Transcript.pdf" >here</a></u>
    </small></p>
    <iframe id= "myPDF" src="/static/resume/Transcript.pdf" frameborder="5"></iframe>
    <br><br><br>
    
    <p><small>
        The following are my President's List certifications for the past semesters that I've been in school. <br>
        Their associated links are below each respective frame
    </small></p>
    <iframe id= "myPDF" src="/static/resume/Fall2020_15013.pdf" frameborder="0"></iframe>
    <br>
    <u><a href="/static/resume/Fall2020_15013.pdf" >Fall 2020</a></u>
    <br><br><br>
    <iframe id= "myPDF" src="/static/resume/Spring2021_15014.pdf" frameborder="0"></iframe>
    <br>
    <u><a href="/static/resume/Spring2021_15014.pdf" >Spring 2021</a></u>
    <br><br><br>
    <iframe id= "myPDF" src="/static/resume/Fall2021_1508.pdf" frameborder="0"></iframe>
    <br>
    <u><a href="/static/resume/Fall2021_1508.pdf" >Fall 2021</a></u>
    <br><br><br>
    <iframe id= "myPDF" src="/static/resume/Spring2022_1506.pdf" frameborder="0"></iframe>
    <br>
    <u><a href="/static/resume/Spring2022_1506.pdf" >Spring 2022</a></u>

</body>

<!--#resume, transcript, presidents list document, learning center award, CRLA certification-->
